@font-face{
    font-family: 'LeagueGothic';
    src: url(../fonts/LeagueGothicRegular.eot);
	src: url('../fonts/LeagueGothicRegular.eot?#iefix') format('eot'),
         url('../fonts/LeagueGothicRegular.woff') format('woff'),
		 url('../fonts/LeagueGothicRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}

@font-face{
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-Light.ttf);
	src: url('../fonts/OpenSans-Light.ttf') format('truetype');
    font-style: normal; 
    font-weight: 300px;
}

@font-face{
    font-family: 'OpenSans-ExtraBold';
    src: url(../fonts/OpenSans-ExtraBold.ttf);
	src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
    font-style: normal; 
    font-weight: 600px;
}